<h3 style="margin-left: 1rem">
  <strong>(POC)</strong> KPI Screen OR - OEE compare
</h3>

<div class="charts-container">
  <div class="first-row">
    <div class="pie-one" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie.series"
        [chart]="chartOptionsPie.chart"
        [labels]="chartOptionsPie.labels"
        [legend]="chartOptionsPie.legend"
        [responsive]="chartOptionsPie.responsive"
        [dataLabels]="chartOptionsPie.dataLabels"
        [annotations]="chartOptionsPie.annotations"
        [plotOptions]="chartOptionsPie.plotOptions"
        [stroke]="chartOptionsPie.stroke"
      ></apx-chart>
    </div>
    <div class="pie-two" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie2.series"
        [chart]="chartOptionsPie2.chart"
        [labels]="chartOptionsPie2.labels"
        [legend]="chartOptionsPie2.legend"
        [responsive]="chartOptionsPie2.responsive"
        [dataLabels]="chartOptionsPie2.dataLabels"
        [annotations]="chartOptionsPie2.annotations"
        [plotOptions]="chartOptionsPie2.plotOptions"
        [stroke]="chartOptionsPie2.stroke"
      ></apx-chart>
    </div>
    <div class="pie-one" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie.series"
        [chart]="chartOptionsPie.chart"
        [labels]="chartOptionsPie.labels"
        [legend]="chartOptionsPie.legend"
        [responsive]="chartOptionsPie.responsive"
        [dataLabels]="chartOptionsPie.dataLabels"
        [annotations]="chartOptionsPie.annotations"
        [plotOptions]="chartOptionsPie.plotOptions"
        [stroke]="chartOptionsPie.stroke"
      ></apx-chart>
    </div>
    <div class="pie-two" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie2.series"
        [chart]="chartOptionsPie2.chart"
        [labels]="chartOptionsPie2.labels"
        [legend]="chartOptionsPie2.legend"
        [responsive]="chartOptionsPie2.responsive"
        [dataLabels]="chartOptionsPie2.dataLabels"
        [annotations]="chartOptionsPie2.annotations"
        [plotOptions]="chartOptionsPie2.plotOptions"
        [stroke]="chartOptionsPie2.stroke"
      ></apx-chart>
    </div>
    <div class="pie-one" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie.series"
        [chart]="chartOptionsPie.chart"
        [labels]="chartOptionsPie.labels"
        [legend]="chartOptionsPie.legend"
        [responsive]="chartOptionsPie.responsive"
        [dataLabels]="chartOptionsPie.dataLabels"
        [annotations]="chartOptionsPie.annotations"
        [plotOptions]="chartOptionsPie.plotOptions"
        [stroke]="chartOptionsPie.stroke"
      ></apx-chart>
    </div>
    <div class="pie-two" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie2.series"
        [chart]="chartOptionsPie2.chart"
        [labels]="chartOptionsPie2.labels"
        [legend]="chartOptionsPie2.legend"
        [responsive]="chartOptionsPie2.responsive"
        [dataLabels]="chartOptionsPie2.dataLabels"
        [annotations]="chartOptionsPie2.annotations"
        [plotOptions]="chartOptionsPie2.plotOptions"
        [stroke]="chartOptionsPie2.stroke"
      ></apx-chart>
    </div>
  </div>
  <div class="second-row">
    <div class="pie-one" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie.series"
        [chart]="chartOptionsPie.chart"
        [labels]="chartOptionsPie.labels"
        [legend]="chartOptionsPie.legend"
        [responsive]="chartOptionsPie.responsive"
        [dataLabels]="chartOptionsPie.dataLabels"
        [annotations]="chartOptionsPie.annotations"
        [plotOptions]="chartOptionsPie.plotOptions"
        [stroke]="chartOptionsPie.stroke"
      ></apx-chart>
    </div>
    <div class="pie-two" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie2.series"
        [chart]="chartOptionsPie2.chart"
        [labels]="chartOptionsPie2.labels"
        [legend]="chartOptionsPie2.legend"
        [responsive]="chartOptionsPie2.responsive"
        [dataLabels]="chartOptionsPie2.dataLabels"
        [annotations]="chartOptionsPie2.annotations"
        [plotOptions]="chartOptionsPie2.plotOptions"
        [stroke]="chartOptionsPie2.stroke"
      ></apx-chart>
    </div>
    <div class="pie-one" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie.series"
        [chart]="chartOptionsPie.chart"
        [labels]="chartOptionsPie.labels"
        [legend]="chartOptionsPie.legend"
        [responsive]="chartOptionsPie.responsive"
        [dataLabels]="chartOptionsPie.dataLabels"
        [annotations]="chartOptionsPie.annotations"
        [plotOptions]="chartOptionsPie.plotOptions"
        [stroke]="chartOptionsPie.stroke"
      ></apx-chart>
    </div>
    <div class="pie-two" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie2.series"
        [chart]="chartOptionsPie2.chart"
        [labels]="chartOptionsPie2.labels"
        [legend]="chartOptionsPie2.legend"
        [responsive]="chartOptionsPie2.responsive"
        [dataLabels]="chartOptionsPie2.dataLabels"
        [annotations]="chartOptionsPie2.annotations"
        [plotOptions]="chartOptionsPie2.plotOptions"
        [stroke]="chartOptionsPie2.stroke"
      ></apx-chart>
    </div>
    <div class="pie-one" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie.series"
        [chart]="chartOptionsPie.chart"
        [labels]="chartOptionsPie.labels"
        [legend]="chartOptionsPie.legend"
        [responsive]="chartOptionsPie.responsive"
        [dataLabels]="chartOptionsPie.dataLabels"
        [annotations]="chartOptionsPie.annotations"
        [plotOptions]="chartOptionsPie.plotOptions"
        [stroke]="chartOptionsPie.stroke"
      ></apx-chart>
    </div>
    <div class="pie-two" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie2.series"
        [chart]="chartOptionsPie2.chart"
        [labels]="chartOptionsPie2.labels"
        [legend]="chartOptionsPie2.legend"
        [responsive]="chartOptionsPie2.responsive"
        [dataLabels]="chartOptionsPie2.dataLabels"
        [annotations]="chartOptionsPie2.annotations"
        [plotOptions]="chartOptionsPie2.plotOptions"
        [stroke]="chartOptionsPie2.stroke"
      ></apx-chart>
    </div>
  </div>
  <div class="third-row">
    <div class="pie-one" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie.series"
        [chart]="chartOptionsPie.chart"
        [labels]="chartOptionsPie.labels"
        [legend]="chartOptionsPie.legend"
        [responsive]="chartOptionsPie.responsive"
        [dataLabels]="chartOptionsPie.dataLabels"
        [annotations]="chartOptionsPie.annotations"
        [plotOptions]="chartOptionsPie.plotOptions"
        [stroke]="chartOptionsPie.stroke"
      ></apx-chart>
    </div>
    <div class="pie-two" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie2.series"
        [chart]="chartOptionsPie2.chart"
        [labels]="chartOptionsPie2.labels"
        [legend]="chartOptionsPie2.legend"
        [responsive]="chartOptionsPie2.responsive"
        [dataLabels]="chartOptionsPie2.dataLabels"
        [annotations]="chartOptionsPie2.annotations"
        [plotOptions]="chartOptionsPie2.plotOptions"
        [stroke]="chartOptionsPie2.stroke"
      ></apx-chart>
    </div>
    <div class="pie-one" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie.series"
        [chart]="chartOptionsPie.chart"
        [labels]="chartOptionsPie.labels"
        [legend]="chartOptionsPie.legend"
        [responsive]="chartOptionsPie.responsive"
        [dataLabels]="chartOptionsPie.dataLabels"
        [annotations]="chartOptionsPie.annotations"
        [plotOptions]="chartOptionsPie.plotOptions"
        [stroke]="chartOptionsPie.stroke"
      ></apx-chart>
    </div>
    <div class="pie-two" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie2.series"
        [chart]="chartOptionsPie2.chart"
        [labels]="chartOptionsPie2.labels"
        [legend]="chartOptionsPie2.legend"
        [responsive]="chartOptionsPie2.responsive"
        [dataLabels]="chartOptionsPie2.dataLabels"
        [annotations]="chartOptionsPie2.annotations"
        [plotOptions]="chartOptionsPie2.plotOptions"
        [stroke]="chartOptionsPie2.stroke"
      ></apx-chart>
    </div>
    <div class="pie-one" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie.series"
        [chart]="chartOptionsPie.chart"
        [labels]="chartOptionsPie.labels"
        [legend]="chartOptionsPie.legend"
        [responsive]="chartOptionsPie.responsive"
        [dataLabels]="chartOptionsPie.dataLabels"
        [annotations]="chartOptionsPie.annotations"
        [plotOptions]="chartOptionsPie.plotOptions"
        [stroke]="chartOptionsPie.stroke"
      ></apx-chart>
    </div>
    <div class="pie-two" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie2.series"
        [chart]="chartOptionsPie2.chart"
        [labels]="chartOptionsPie2.labels"
        [legend]="chartOptionsPie2.legend"
        [responsive]="chartOptionsPie2.responsive"
        [dataLabels]="chartOptionsPie2.dataLabels"
        [annotations]="chartOptionsPie2.annotations"
        [plotOptions]="chartOptionsPie2.plotOptions"
        [stroke]="chartOptionsPie2.stroke"
      ></apx-chart>
    </div>
  </div>
</div>
