<h3 style="margin-left: 1rem">
  <strong>(POC)</strong> Shifts Compare CT Query
</h3>
<div style="text-align: center">
  <apx-chart
    [grid]="chartOptions.grid"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [plotOptions]="chartOptions.plotOptions"
    [xaxis]="chartOptions.xaxis"
    [fill]="chartOptions.fill"
    [stroke]="chartOptions.stroke"
    [annotations]="chartOptions.annotations"
    [dataLabels]="chartOptions.dataLabels"
    [legend]="chartOptions.legend"
  ></apx-chart>
</div>
