<h3 style="margin-left: 1rem">
  <strong>(POC)</strong> KPI Screen Quantity compare
</h3>

<div id="chart" style="text-align: center">
  <div class="first-row">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [legend]="chartOptions.legend"
      [colors]="chartOptions.colors"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [annotations]="chartOptions.annotations"
    ></apx-chart>
    <apx-chart
      [series]="chartOptions2.series"
      [chart]="chartOptions2.chart"
      [legend]="chartOptions2.legend"
      [colors]="chartOptions2.colors"
      [plotOptions]="chartOptions2.plotOptions"
      [yaxis]="chartOptions2.yaxis"
      [xaxis]="chartOptions2.xaxis"
      [dataLabels]="chartOptions2.dataLabels"
      [annotations]="chartOptions2.annotations"
    ></apx-chart>
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [legend]="chartOptions.legend"
      [colors]="chartOptions.colors"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [annotations]="chartOptions.annotations"
    ></apx-chart>
  </div>
  <div class="second-row">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [legend]="chartOptions.legend"
      [colors]="chartOptions.colors"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [annotations]="chartOptions.annotations"
    ></apx-chart>
    <apx-chart
      [series]="chartOptions2.series"
      [chart]="chartOptions2.chart"
      [legend]="chartOptions2.legend"
      [colors]="chartOptions2.colors"
      [plotOptions]="chartOptions2.plotOptions"
      [yaxis]="chartOptions2.yaxis"
      [xaxis]="chartOptions2.xaxis"
      [dataLabels]="chartOptions2.dataLabels"
      [annotations]="chartOptions2.annotations"
    ></apx-chart>
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [legend]="chartOptions.legend"
      [colors]="chartOptions.colors"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [annotations]="chartOptions.annotations"
    ></apx-chart>
  </div>
  <div class="third-row">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [legend]="chartOptions.legend"
      [colors]="chartOptions.colors"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [annotations]="chartOptions.annotations"
    ></apx-chart>
    <apx-chart
      [series]="chartOptions2.series"
      [chart]="chartOptions2.chart"
      [legend]="chartOptions2.legend"
      [colors]="chartOptions2.colors"
      [plotOptions]="chartOptions2.plotOptions"
      [yaxis]="chartOptions2.yaxis"
      [xaxis]="chartOptions2.xaxis"
      [dataLabels]="chartOptions2.dataLabels"
      [annotations]="chartOptions2.annotations"
    ></apx-chart>
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [legend]="chartOptions.legend"
      [colors]="chartOptions.colors"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [annotations]="chartOptions.annotations"
    ></apx-chart>
  </div>
</div>
