<h3 style="margin-left: 1rem"><strong>(POC)</strong> PE - EOL CT day Query</h3>
<div class="charts-container">
  <div class="first-row">
    <div class="pie-one" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie.series"
        [chart]="chartOptionsPie.chart"
        [labels]="chartOptionsPie.labels"
        [legend]="chartOptionsPie.legend"
        [responsive]="chartOptionsPie.responsive"
        [dataLabels]="chartOptionsPie.dataLabels"
        [annotations]="chartOptionsPie.annotations"
        [plotOptions]="chartOptionsPie.plotOptions"
        [stroke]="chartOptionsPie.stroke"
      ></apx-chart>
    </div>
    <div class="pie-two" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie2.series"
        [chart]="chartOptionsPie2.chart"
        [labels]="chartOptionsPie2.labels"
        [legend]="chartOptionsPie2.legend"
        [responsive]="chartOptionsPie2.responsive"
        [dataLabels]="chartOptionsPie2.dataLabels"
        [annotations]="chartOptionsPie2.annotations"
        [plotOptions]="chartOptionsPie2.plotOptions"
        [stroke]="chartOptionsPie2.stroke"
      ></apx-chart>
    </div>
    <div class="pie-one" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie.series"
        [chart]="chartOptionsPie.chart"
        [labels]="chartOptionsPie.labels"
        [legend]="chartOptionsPie.legend"
        [responsive]="chartOptionsPie.responsive"
        [dataLabels]="chartOptionsPie.dataLabels"
        [annotations]="chartOptionsPie.annotations"
        [plotOptions]="chartOptionsPie.plotOptions"
        [stroke]="chartOptionsPie.stroke"
      ></apx-chart>
    </div>
    <div class="pie-two" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie2.series"
        [chart]="chartOptionsPie2.chart"
        [labels]="chartOptionsPie2.labels"
        [legend]="chartOptionsPie2.legend"
        [responsive]="chartOptionsPie2.responsive"
        [dataLabels]="chartOptionsPie2.dataLabels"
        [annotations]="chartOptionsPie2.annotations"
        [plotOptions]="chartOptionsPie2.plotOptions"
        [stroke]="chartOptionsPie2.stroke"
      ></apx-chart>
    </div>
    <div class="pie-one" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie.series"
        [chart]="chartOptionsPie.chart"
        [labels]="chartOptionsPie.labels"
        [legend]="chartOptionsPie.legend"
        [responsive]="chartOptionsPie.responsive"
        [dataLabels]="chartOptionsPie.dataLabels"
        [annotations]="chartOptionsPie.annotations"
        [plotOptions]="chartOptionsPie.plotOptions"
        [stroke]="chartOptionsPie.stroke"
      ></apx-chart>
    </div>
    <div class="pie-two" style="text-align: center">
      <apx-chart
        [series]="chartOptionsPie2.series"
        [chart]="chartOptionsPie2.chart"
        [labels]="chartOptionsPie2.labels"
        [legend]="chartOptionsPie2.legend"
        [responsive]="chartOptionsPie2.responsive"
        [dataLabels]="chartOptionsPie2.dataLabels"
        [annotations]="chartOptionsPie2.annotations"
        [plotOptions]="chartOptionsPie2.plotOptions"
        [stroke]="chartOptionsPie2.stroke"
      ></apx-chart>
    </div>
  </div>
  <div class="second-row">
    <div class="bar-one" style="text-align: center">
      <apx-chart
        class="second"
        [series]="chart2Options.series"
        [chart]="chart2Options.chart"
        [annotations]="chart2Options.annotations"
        [colors]="chart2Options.colors"
        [plotOptions]="chart2Options.plotOptions"
        [yaxis]="chart2Options.yaxis"
        [dataLabels]="chart2Options.dataLabels"
        [markers]="chart2Options.markers"
        [stroke]="chart2Options.stroke"
        [grid]="chart2Options.grid"
        [xaxis]="chart2Options.xaxis"
        [fill]="chart2Options.fill"
      ></apx-chart>
    </div>
    <div class="bar-two" style="text-align: center">
      <apx-chart
        class="second"
        [series]="chart2Options.series"
        [chart]="chart2Options.chart"
        [annotations]="chart2Options.annotations"
        [colors]="chart2Options.colors"
        [plotOptions]="chart2Options.plotOptions"
        [yaxis]="chart2Options.yaxis"
        [dataLabels]="chart2Options.dataLabels"
        [markers]="chart2Options.markers"
        [stroke]="chart2Options.stroke"
        [grid]="chart2Options.grid"
        [xaxis]="chart2Options.xaxis"
        [fill]="chart2Options.fill"
      ></apx-chart>
    </div>
    <div class="bar-one" style="text-align: center">
      <apx-chart
        class="second"
        [series]="chart2Options.series"
        [chart]="chart2Options.chart"
        [annotations]="chart2Options.annotations"
        [colors]="chart2Options.colors"
        [plotOptions]="chart2Options.plotOptions"
        [yaxis]="chart2Options.yaxis"
        [dataLabels]="chart2Options.dataLabels"
        [markers]="chart2Options.markers"
        [stroke]="chart2Options.stroke"
        [grid]="chart2Options.grid"
        [xaxis]="chart2Options.xaxis"
        [fill]="chart2Options.fill"
      ></apx-chart>
    </div>
  </div>
  <div class="third-row">
    <div class="altbar-one" style="text-align: center">
      <apx-chart
        class="second"
        [series]="chart3Options.series"
        [chart]="chart3Options.chart"
        [annotations]="chart3Options.annotations"
        [colors]="chart3Options.colors"
        [plotOptions]="chart3Options.plotOptions"
        [yaxis]="chart3Options.yaxis"
        [dataLabels]="chart3Options.dataLabels"
        [markers]="chart3Options.markers"
        [stroke]="chart3Options.stroke"
        [grid]="chart3Options.grid"
        [xaxis]="chart3Options.xaxis"
        [fill]="chart3Options.fill"
      ></apx-chart>
    </div>
    <div class="altbar-two" style="text-align: center">
      <apx-chart
        class="second"
        [series]="chart3Options.series"
        [chart]="chart3Options.chart"
        [annotations]="chart3Options.annotations"
        [colors]="chart3Options.colors"
        [plotOptions]="chart3Options.plotOptions"
        [yaxis]="chart3Options.yaxis"
        [dataLabels]="chart3Options.dataLabels"
        [markers]="chart3Options.markers"
        [stroke]="chart3Options.stroke"
        [grid]="chart3Options.grid"
        [xaxis]="chart3Options.xaxis"
        [fill]="chart3Options.fill"
      ></apx-chart>
    </div>
    <div class="altbar-one" style="text-align: center">
      <apx-chart
        class="second"
        [series]="chart3Options.series"
        [chart]="chart3Options.chart"
        [annotations]="chart3Options.annotations"
        [colors]="chart3Options.colors"
        [plotOptions]="chart3Options.plotOptions"
        [yaxis]="chart3Options.yaxis"
        [dataLabels]="chart3Options.dataLabels"
        [markers]="chart3Options.markers"
        [stroke]="chart3Options.stroke"
        [grid]="chart3Options.grid"
        [xaxis]="chart3Options.xaxis"
        [fill]="chart3Options.fill"
      ></apx-chart>
    </div>
  </div>
</div>
