<h3 style="margin-left: 1rem"><strong>(POC)</strong> EOL CT term Query</h3>
<div class="container">
  <div id="chart" style="text-align: center">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [fill]="chartOptions.fill"
      [title]="chartOptions.title"
      [annotations]="chartOptions.annotations"
    ></apx-chart>
  </div>
  <div id="chart2" style="text-align: center; margin-left: 10px">
    <apx-chart
      [series]="chart2Options.series"
      [chart]="chart2Options.chart"
      [dataLabels]="chart2Options.dataLabels"
      [plotOptions]="chart2Options.plotOptions"
      [yaxis]="chart2Options.yaxis"
      [xaxis]="chart2Options.xaxis"
      [fill]="chart2Options.fill"
      [title]="chart2Options.title"
      [annotations]="chart2Options.annotations"
    ></apx-chart>
  </div>
  <div id="chart3" style="text-align: center; margin-left: 15px">
    <apx-chart
      [series]="chart3Options.series"
      [chart]="chart3Options.chart"
      [dataLabels]="chart3Options.dataLabels"
      [plotOptions]="chart3Options.plotOptions"
      [yaxis]="chart3Options.yaxis"
      [xaxis]="chart3Options.xaxis"
      [fill]="chart3Options.fill"
      [title]="chart3Options.title"
      [annotations]="chart3Options.annotations"
    ></apx-chart>
  </div>
</div>
<div class="container2"></div>
